main {
  margin-top: 100px;
}

main > .contents {
  width: 100%;
  height: fit-content;
  max-width: 800px;
  margin: 0 auto;
}

main > .contents > .jumbotron {
  display: flex;
  flex-direction: column;
}

main > .contents > .jumbotron > h1 {
  font-size: 40px;
  display: flex;
  flex-direction: row;
}

main > .contents > .jumbotron > h1 > .dot {
  color: #0090ff;
  font-size: 60px;
  line-height: 20px;
}

main > .contents > .jumbotron > strong {
  font-size: 18px;
  color: #8d8d8d;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 25px;
}
